<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%- title%></title>
  <%- include('../../includes/head.html') %>
  <style media="screen">
    body {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .jun_con{
        background-image:url(img/aolike.jpg);
        background-size:cover;
        width:1300px;
        height:200px;

    }
    .guan_con{
      background-image:url(img/aolike1.jpg);
      background-size: cover;
      background-size:center;
      width: 1000px;
  }
  </style>

</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">嘉善奥力科机械制造有限公司</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse navbar-right">
        <a class="navbar-brand" href="/login">登录</a>
        <a class="navbar-brand" href="/register">注册</a>
      </div><!--/.navbar-collapse -->
    </div>
  </nav>

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container jun_con">

      <h1>嘉善奥力科机械制造有限公司欢迎您</h1>
      <p><marquee>如果您有什么疑问或建议，请拨打以下 电话联系我们：+86-573-84731367</marquee></p>

    </div>
  </div>
  <div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
      <li class="active"><a href="#">关于我们<span class="sr-only">(current)</span></a></li>
    </ul>
    <ul class="nav nav-sidebar">
      <li><a href="/hezuo">合作伙伴</a></li>

    </ul>
    <ul class="nav nav-sidebar">
      <li><a href="/shengchan">生产能力</a></li>

    </ul>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4 guan_con">
        <h2>关于我们</h2>
        <p>嘉善奥力科机械制造有限公司其前身为嘉善优捷特电热设备有限公司，公司座落于嘉善经济技术开发区四期，
          地处浙江、上海、江苏交界处，地理位置优越，沪杭高速、高铁，320国道贯穿于中，
          与杭州、上海、宁波、苏州形成一小时经济圈，物流便捷环境优美。公司占地面积为12000多平方米。
本公司是一家集设计、制造、安装于一体的工业热处理炉专业生产厂家。于2008年成立以来，召集行业精英，不断开发创新，
研制新一代连续式可控气氛托辊网带炉生产线。目前公司主要产品有：连续式光辉调质（渗碳）炉全套生产线；连续式光辉炉
（热处理、退火、硬焊、烧结）；坩埚式球化炉（电加热、天然气）。设备主要销往汽标行业、军工行业、航空行业、紧固件行业、
铁路道钉行业等领域的龙头企业。本公司自创办以来始终坚持以质量创品牌，以品牌占市场的经营理念，
确保产品质量，与配套厂家建立了良好的合作关系，在提供优质的产品的同时，公司秉承“优质、快捷、特别”的服务理念，
以实际行动赢得了客户赞誉。为更好地满足客户的需要，以“品质，务实，严谨，服务”为企业精神，创建一支专业、敬业、
开拓创新的团队，努力为客户提供更先进的电热设备，成为中国的奥力科，世界的奥力科。</p>
      </div>



  </div>
  <hr>

  <footer>
    <p align="right">版权所有 © 嘉善奥力科机械制造有限公司 浙ICP备[10209188]号 </p>
  </footer> <!-- /container -->
</body>
</html>
