<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%- title%></title>
  <%- include('../../includes/head.html') %>
  <style type="text/css" media="screen">

  body {
    padding-top: 50px;
    padding-bottom: 50px;
  }

    .jun_con{
        background-image:url(img/aolike.jpg);
        background-size:cover;
        width:1300px;
        height:200px;

    }
    .guan_con{
      width: 1000px;
}
</body>
  </style>

</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">嘉善奥力科机械制造有限公司</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse navbar-right">
        <a class="navbar-brand" href="/login">登录</a>
        <a class="navbar-brand" href="/register">注册</a>
      </div><!--/.navbar-collapse -->
    </div>
  </nav>

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container jun_con">

      <h1>嘉善奥力科机械制造有限公司欢迎您</h1>
      <p><marquee>如果您有什么疑问或建议，请拨打以下 电话联系我们：+86-573-84731367</marquee></p>

    </div>
  </div>
  <div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
      <li class="active"><a href="/chanpin">连续式光辉渗碳淬火炉（调制）<span class="sr-only">(current)</span></a></li>
    </ul>
    <ul class="nav nav-sidebar">
      <li><a href="/chanpin2">连续式光辉炉（热处理、退火、硬焊、烧结）</a></li>

    </ul>
    <ul class="nav nav-sidebar">
      <li><a href="/chanpin3">ALK-817A坩埚式退火（球化）炉</a></li>

    </ul>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4 guan_con">
        <h3>连续式光辉渗碳淬火炉（调制）</h3>
        <img src="img/20.jpg"><img src="img/21.jpg">
        <img src="img/22.jpg"><img src="img/23.jpg">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       ALK-820 电脑程式控制系统
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;ALK-822 甲醇裂解炉
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;ALK-820 气体分析仪
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;ALK-819 氧气控制系统</p>
        <img src="img/24.jpg"><img src="img/25.jpg"><img src="img/26.jpg">
      <p>
       ALK-817A 坩埚式退火（球化）炉
        &nbsp;&nbsp;&nbsp;
        ALK-817B 坩埚式退火（球化）炉<瓦斯加热>
        &nbsp;&nbsp;&nbsp;ALK-818 温度自动控制盘 </p>


      </div>
  </div>



  <hr>

  <footer>
    <p align="right">版权所有 © 嘉善奥力科机械制造有限公司 浙ICP备[10209188]号 </p>
  </footer> <!-- /container -->
</body>
</html>
