<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%- title%></title>
  <%- include('../../includes/head.html') %>
  <style media="screen">
    body {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .jun_con{
        background-image:url(img/aolike.jpg);
        background-size:cover;
        width:1300px;
        height:200px;

    }
    .hezuo{
      width: 1000px;
    }




    }
  </style>

</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">嘉善奥力科机械制造有限公司</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse navbar-right">
        <a class="navbar-brand" href="/login">登录</a>
        <a class="navbar-brand" href="/register">注册</a>
      </div><!--/.navbar-collapse -->
    </div>
  </nav>

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container jun_con">

      <h1>嘉善奥力科机械制造有限公司欢迎您</h1>
      <p><marquee>如果您有什么疑问或建议，请拨打以下 电话联系我们：+86-573-84731367</marquee></p>

    </div>
  </div>
  <div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
      <li class="active"><a href="/about">关于我们<span class="sr-only">(current)</span></a></li>
    </ul>
    <ul class="nav nav-sidebar">
      <li><a href="/hezuo">合作伙伴</a></li>

    </ul>
    <ul class="nav nav-sidebar">
      <li><a href="/shengchan">生产能力</a></li>

    </ul>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4 guan_con hezuo">
        <h2>合作伙伴</h2>
    <img src="img/hzhb_01.jpg"><img src="img/hzhb_02.jpg"><img src="img/hzhb_03.jpg">
    <img src="img/hzhb_04.jpg"><img src="img/hzhb_05.jpg"><img src="img/hzhb_06.jpg">
    <img src="img/hzhb_07.jpg"><img src="img/hzhb_08.jpg"><img src="img/hzhb_09.jpg">

      </div>



  </div>
  <hr>

  <footer>
    <p align="right">版权所有 © 嘉善奥力科机械制造有限公司 浙ICP备[10209188]号 </p>
  </footer> <!-- /container -->
</body>
</html>
