<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%- title%></title>
  <%- include('../../includes/head.html') %>
  <style media="screen">
    body {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    form {
      padding-top: 50px;
    text-align: center;
    padding-right: 500px;
    padding-left: 200px;


    }
    .jun_con{
        background-image:url(img/aolike.jpg);
        background-size:cover;
     }

     .pp{
       width: 1200;
       background-image: url(img/beijing2.jpg);
       text-align: center;
     }
    </style>

</head>
<body>
  <div class="jumbotron">
    <div class="container jun_con">

      <h1>嘉善奥力科机械制造有限公司欢迎您</h1>
      <p>如果您有什么疑问或建议，请拨打以下 电话联系我们：+86-573-84731367</p>

    </div>
  </div>
  <!-- <p>登录页面</p> -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">嘉善奥力科机械制造有限公司</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse navbar-right">
        <a class="navbar-brand" href="/login">登录</a>
      </div><!--/.navbar-collapse -->
    </div>
  </nav>

  <div class="container">

    <div class="row pp">




        <form class="form-horizontal" method='post' action='/register'>
          <div class="form-group">
            <label for="username" class="col-sm-2 control-label">账号</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name='username' id="username" placeholder="请输入账号">
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="col-sm-2 control-label">密码</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" name='password' id="password" placeholder="请输入密码">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="radio-line">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> 操作人员
                </label>
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" checked> 管理人员
                </label>

              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <h3 class="text-danger text-center"><%- info %></h3>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">注册</button>
            </div>
          </div>
        </form>


    </div><!-- /.row -->

  </div><!-- /.container -->

  <script type="text/javascript">
    $(

    )
  </script>
  <hr/>


  <footer>
    <p align="center">版权所有 © 嘉善奥力科机械制造有限公司 浙ICP备[10209188]号 </p>
  </footer> <!-- /container -->
</body>
</html>
