<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%- title%></title>
  <%- include('./includes/head.html') %>
  <style media="screen">
    body {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .jun_con{
        background-image:url(img/aolike.jpg);
        background-size:cover;
        width:1300px;
        height:200px;
    }
    .guan_con{
      background-image:url(img/aolike1.jpg);
      background-size: cover;
      width: 320px;
      height: 250px;
  }
    .zhanshi{
      width: 500px;
      height: 250px;
    }
  .a{position:absolute;top:300;right:0;width:100px;}
  </body>
  </style>

</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">嘉善奥力科机械制造有限公司</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse navbar-right">
        <a class="navbar-brand" href="/login">登录</a>
        <a class="navbar-brand" href="/register">注册</a>
      </div><!--/.navbar-collapse -->
    </div>
  </nav>

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container jun_con">

      <h1>嘉善奥力科机械制造有限公司欢迎您</h1>
      <p>如果您有什么疑问或建议，请拨打以下 电话联系我们：+86-573-84731367</p>

    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4 guan_con">
        <h2>关于我们</h2>
        <p>嘉善奥力科机械制造有限公司其前身为嘉善优捷特电热设备有限公司，公司座落于嘉善经济技术开发区四期，地处浙江、上海</p>
          <br/>
          <br/>


        <p><a class="btn btn-default a" href="/about" role="button">更多 &raquo;</a></p>
      </div>
      <div class="col-md-4 zhanshi">
        <h2>产品展示</h2>
        <marquee ><img src="img/s1.jpg"><img src="img/s8.jpg"><img src="img/s10.jpg"><img src="img/s11.jpg"><img src="img/s12.jpg"><img src="img/s13.jpg">
         <img src="img/s14.jpg"><img src="img/s15.jpg"><img src="img/s16.jpg"><img src="img/s17.jpg">
         <img src="img/s18.jpg"><img src="img/s19.jpg"><img src="img/s20.jpg"><img src="img/s21.jpg">
         <img src="img/s22.jpg"><img src="img/s23.jpg"><img src="img/s24.jpg"><img src="img/s25.jpg"><img src="img/s26.jpg"></marquee>
         <br/>
        <p><a class="btn btn-default a" href="/chanpin" role="button">更多 &raquo;</a></p>
     </div>
      <div class="col-md-4  guan_con">
        <h2>联系我们</h2>
       <img src="img/contact.jpg">
       <br/>
       <p>如果您有什么疑问或建议，请拨打以下 电话联系我们：</p>
       <p>+86-573-84731367</p>
        <p><a class="btn btn-default a" href="/lianxi" role="button">更多 &raquo;</a></p>
      </div>
    </div>

    <hr>

    <footer>
    <p align="center">版权所有 © 嘉善奥力科机械制造有限公司 浙ICP备[10209188]号 </p>
    </footer>
  </div> <!-- /container -->
</body>
</html>
